
<style>
    .main {
        width: 75vw;
        height: 75vh;
    }
</style>

<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="main bg-white flex rounded-lg shadow-lg">
        <Conversations />
        <Conversation />
    </div>
</div>

@code {

}